{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="container">
<h1>الرئيسية</h1>
<a href="{{ path('categorie.index') }}">الفئات</a>
<a href="{{ path('groupe.index') }}">المجموعات</a>
</div>
{% endblock %}
