{{ form_start(form, { attr: { 'data-action': 'live#action', 'data-live-action-param': 'prevent|save', id: 'article_form' } }) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">حفظ</button>
{{ form_end(form) }}
